*{
    box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   cursor:pointer;  
}
/* .content::after {
    content: "";
    clear: both;
    display: table;
} */
html,body{
    margin:0;
    width: 100%;
}
.content{
    width: 60%;
    padding: 30px;
    border: 1px solid #e4e6e8;
    margin: 0 auto;
    margin-top: 72px;
}


input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="submit"],
button,textarea{
   
    height: 40px;
    padding:8px;
    margin:10px 0 12px 0;
    border:1px solid #d3d2d2;
    border-radius: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input:hover{
    border-color:#4b9cee;
}

/*question HTML*/
.usr_code{
    height: auto;
    width: 100%;
}

