
#signup_page,
#login_page,
#form_data,
#switch{
    width: 60%;
    padding: 30px;
    margin: 8px auto;
}

#signup_page,
#login_page,
#switch{
        border: 1px solid #e4e6e8;
    }

#form_data{
    width:80%;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"]{

    width: 100%;
}


#form_btn input[type="submit"]{
    position: relative;
    left:66%;
    width:120px;
    padding:0;
    color:whitesmoke;
    
    background: rgba(6, 6, 241, 0.966);
}
#switch span{
    padding-left: 148px;
}
#forgot_pwd{
    position: relative;
    left:82%;
    color:rgba(129, 128, 128, 0.767);
}
#forgot_pwd:hover{
    color:rgba(129, 128, 128, 1);
}

/*question HTML*/


